body{
    margin:0px;
    padding:0px;
    background-color: #e3e6e6;
}

div{
    margin-left: 10px;
    margin-right: 10px;
}

.t{
    display:grid;
    grid-template-columns: 1fr 1fr 4fr 1fr;
    background-color: #131921;
    color: white;
    
    margin-left: 0px;
    margin-right: 0px;
}
#Logo{
    background-color:#131921;
}
#Searchbar{
 
}
#pincode{
    
}
.t2{
    display: flex;
    flex-direction: row;
    background-color: #232f3e;
    flex: 1;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
}


.Productboxes{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: darkgray;
   color: white;
}

.Productboxes.Box{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    margin-right: 20px;
    margin-left: 20px;
    

}

.PageBottom{
    background-color: #37475a;
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
}
.PageBottom.boxes{
   
    
}

.PageBottom.boxes.Middle{
    background-color: #232f3e;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 100px;
    padding-right: 100px;
}

