body{
    margin:0px;
    padding:0px;
    background-color: #e3e6e6;
    font-family:Arial,sans-serif;
}

div{
    /*margin-left:4%;
    margin-right:4%;*/


}

.t{
    display:grid;
    grid-template-columns: 2fr 7fr 1fr;
    grid-template-rows: 1;
    background-color: #131921;
    color: white;
    
    margin-left: 0px;
    margin-right: 0px;
    
}
.t.middle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#dropdownall{
    padding: 0px;
    width: 30px;
    height: 40px;
    padding-top: 5px;

}
#Logo{
    background-color:#131921;
}
#Searchbar{
/* height: 40px;
 width: 1200px;*/
 

}
#Pincode{
    color: gray;
    font-size:10px;
}
.t2{
    display: flex;
    flex-direction: row;
    background-color: #232f3e;
    flex: 1;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    font-size:14px;
}


.Productboxes{
    font-family: Arial,sans-serif;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: darkgray;
    color: black;
    font-size: 21px;
   
   
    
}

.Productboxes.Box{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom:0px;
    display: inline-block;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}
.Productboxes.Box.pic{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows:1fr 1fr;
   margin: 5px;

    
    
}
.PageBottom{
    background-color: #37475a;
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
}
.PageBottom.boxes{
   
    
}

.PageBottom.boxes.Middle{
    background-color: #232f3e;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 100px;
    padding-right: 100px;
}

